---
layout: default
title: Play chess
files: [a,b,c,d,e,f,g,h]
---
<html>
  <body>
    <div id="chess-board-container">
      <table class="chess-board">
        {% for row in (1..8) reversed %}
          <tr id="rank_{{row}}" class="rank">
            {% for col in (0..7) %}
              <td id="square_{{row}}{{page.files[col]}}">
                <div class="square"><img class="piece" src="assets/images/bdt.svg"></div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
