---
---
* {
  text-decoration: none;
  color: #000;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 2% 0%;
  border-style: none none solid none;
  border-width: 1px;
}

.header-title {
  font-size: 40px;
  display: inline-block;
  margin: 0% 5% 0% 0%
}

.header-nav {
  font-size: 20px;
  display: inline-flex;
  margin: 0% 4% 0% 0%;
  align-items: center;
}

.nav-item {
  margin: 0% 30px 0% 0%;
}

.nav-item:hover {
  text-decoration: underline;
}

#chess-board-container table,
#chess-board-container td {
  border: 1px solid;
  border-collapse: collapse;
}

#chess-board-container tr td {
    background-color: #f0d9b5;
}

#chess-board-container tr:nth-child(even) td:nth-child(odd),
#chess-board-container tr:nth-child(odd) td:nth-child(even) {
    background-color: #b58863;
}

#chess-board-container table {
  width: 600px;
  height: 600px;
}

.square {
  text-align: center;
}

.piece {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

footer {
  margin: 2% 0%;
  border-style: solid none none none;
  border-width: 1px;
}
